@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-lightcolor: #0b666a;
  --bg-greycolor: rgb(235, 235, 235);
}
body {
  align-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  /* background-image: url('/public/products/back.jpg'); */
  /* background-position:100%; */
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: var(--bg-greycolor);
  backdrop-filter: blur(20px);
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  height: 95px;
  align-items: center;
  border-bottom: 1px solid rgb(212, 211, 211);
}
header > div > h1 {
  margin-left: 1rem;
  color: var(--bg-lightcolor);
}
.navlist {
  flex-grow: 0.2;

  display: flex;
  transition: 0.3s ease;
}
.navli {
  padding-left: 10rem;

  background: transparent;
  flex-direction: row;
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;

  display: flex;

  padding-top: 1.2rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;

  transition: 0.3s ease;
}
.navli li {
  cursor: pointer;
  flex-grow: 1;
  display: flex;
  transition: 0.3s ease;
  /* padding-left:4rem */
}

.searchh > button {
  border: none;
  outline: none;
  background: transparent;
}
.searchh > button > i {
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 0rem;
}
.searchh > input {
  outline: none;
  border-radius: 2rem;
  border: none;
  padding: 0.9rem;
  background: transparent;
  width: 100%;
}
.searchh {
  padding-left: 4px;
  outline: #021a1a;
  margin-left: 11rem;
  justify-content: center;
  display: flex;
  width: 30%;

  border-radius: 2rem;
  box-shadow: 2px 2px 2px 2px var(--bg-lightcolor);
}

.nav__div {
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  color: var(--bg-lightcolor);
}
.nav__div:hover {
  transform: translateY(-19px);
}
.nav__div label {
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  transition: 0.3s ease;
  /* display: none; */
  opacity: 0;
}
.nav__div > i {
  transition: 0.3s ease;
  height: 1.4rem;

  font-size: 20px;
}
.nav__div:hover label {
  transition: 0.3s ease;
  opacity: 1;
}
.nav__div:hover i {
  opacity: 0;
  transition: 0.3s ease;
}
.section_product {
  margin-top: 2rem;

  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}
.image_section {
  margin-left: 7rem;

  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.banner__image > img {
  transition: 0.32s ease;
  width: 100%;
}
.gallery {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}
.preview_gallery {
  flex-basis: 19%;

  cursor: pointer;
  border-width: 2rem;
  width: 100%;
}
.preview_gallery > img {
  transition: 0.32s ease;
  width: 100%;
}
.product__details {
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 0rem;
  width: 50%;

  margin-top: 4rem;
  margin-right: 3rem;
  margin-left: 3rem;
}
.product__details div {
  display: flex;
}
.product__details span {
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
}

.product__details h3 {
  /* margin-top: 3rem; */
  font-size: 2rem;
}
.select_op {
  width: 100%;
  flex-direction: column;
}
.select_op select {
  width: 13%;
  padding: 0.5rem;
  /* display:flex; */
  margin-top: 0.9rem;
}

.add__button {
  font-family: inherit;
  margin-left: 1rem;
  border-radius: 0.3rem;
  border: 2px solid var(--bg-lightcolor);
  background-color: var(--bg-lightcolor);
  color: white;
  padding: 0.8rem 2rem;
  transition: 0.32s ease;
}
.add__button:hover {
  transition: 0.32s ease;
  color: var(--bg-lightcolor);
  background-color: #ffffff;
}
.qt__cart {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.qt__cart input {
  width: 5%;
  padding: 0.7rem 0.4rem;
}
.detail__para {
  flex-direction: column;
  width: 90%;
}
.detail__para p {
  font-size: 1.1rem;
  margin-top: 1rem;
}
.featured__heading {
  color: var(--bg-lightcolor);
  width: 100%;
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.featured__heading > h1 {
  font-size: 2rem;
}
.featured__products {
  margin-top: 3rem;
  padding: 0rem 1rem;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(40%, 1.2fr)); */
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.single__product:hover {
  flex-basis: 23rem;
  transition: 0.32s ease;
}
.single__product {
  flex-grow: 0; /* Prevent the inner div from growing */
  flex-basis: 18rem; /* Set the initial width of the inner div */
  min-width: 14rem;

  /* width: 25%; */
  border-radius: 1rem;
  margin-top: 2rem;
  border: 2px solid rgb(216, 211, 211);
  transition: 0.32s ease;
}
.single__product:hover {
  transition: 0.32s ease;
  box-shadow: 0 0 10px 4px var(--bg-lightcolor);
}

.banners__image > img {
  aspect-ratio: 4/4;
  width: 100%;
  object-fit: contain;
  border-radius: 2rem;
}
.details__feature__product {
  margin-top: 1.5rem;
  padding-left: 2rem;
}
.details__feature__product > h3 {
  font-size: 16px;
  margin-top: 1.7rem;
}
.details__feature__product > h4 {
  font-size: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.32s ease;
  height: 90vh;
  width: 100%;
}
.login {
  position: relative;
  transition: 0.32s ease;
 
  box-shadow: 0px 0px 15px 5px  rgb(206, 205, 205);
  /* border: 2px solid rgb(216, 211, 211); */
  border-radius: 0.5rem;
  display: flex;
  width: 50vh;
  background-color: var(--bg-greycolor);
  height: 50vh;
  flex-direction: column;
  /* justify-content: space-around; */
}


.register{

  position: relative;
  transition: 0.32s ease;
  
  box-shadow: 0px 0px 15px 5px  rgb(206, 205, 205);
  /* border: 2px solid rgb(216, 211, 211); */
  border-radius: 0.5rem;
  display: flex;
  width: 50vh;
  background-color: var(--bg-greycolor);
  height: 60vh;
  flex-direction: column;
}

#reg--btn :checked .login{

  height: 60vh;
}


.login__heading {
  margin-top: 2rem;
  color: var(--bg-lightcolor);
  text-align: center;
  width: 100%;
}
.login div > input,
.register div > input{
  font-size: large;
  background-color: var(--bg-greycolor);
  color: var(--bg-lightcolor);
  padding-bottom:0.6rem;
  text-align: center;
  outline: none;
  margin-top: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--bg-lightcolor);
}
.login div >label,
.register div > label {
  font-size: larger;
  font-weight: 600;
}

.form{
  display: flex;
  flex-direction: column;
 /* align-items: center; */
  height: 100%;
  justify-content: space-around;
}
.form2{
  display: flex;
  flex-direction: column;
 /* align-items: center; */
  height: 100%;
  justify-content: space-around;
}
.form div:nth-child(1),
.form div:nth-child(2) {
  display: flex;
  text-align: center;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
 
}
.form2 div:nth-child(1),
.form2 div:nth-child(2),
.form2 div:nth-child(3),
.form2 div:nth-child(4) {
  display: flex;
  text-align: center;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
 
}
.div__btn{
    justify-content: space-evenly;
  display: flex;
  width: 100%;
 
  /* margin: auto; */
  margin: 0 auto;
}
.btn{
  font-size: medium;
  color: white;
  border: 1px solid var(--bg-lightcolor);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--bg-lightcolor);
  transition: 0.32s ease;
}
.btn:hover{
  color: var(--bg-lightcolor);
  background-color: #ffffff;
  transition: 0.32s ease;
}

/* Media QUERIES FOR RESPONSIVE */
@media screen and (max-width: 1600px) {
  .detail__para p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1366px) {
  .product__details {
    margin-bottom: 0rem;
  }
  .product__details h2 {
    font-size: 1.3rem;
  }
  .product__details h3 {
    font-size: 1.5rem;
  }
  .product__details span {
    font-size: 1rem;
  }
  .detail__para p {
    font-size: 0.9rem;
  }
 
}
@media screen and (max-width: 600px) {
  header > div > h1 {
    display: none;
  }
  header > .searchh {
    display: none;
  }
  header {
    justify-content: center;
  }
  .navlist {
    flex-grow: 1;
  }
  .image_section{
    width: 100%;
    margin-left: 2rem;
  }
  .section_product {
    flex-direction: column;
  }
  .image_section {
    /* margin-left: 2rem; */
    width: 70%;
  }
  .product__details {
    gap: 3rem;
    width: 80%;
  }
  .detail__para {
    width: 100%;
  }
}
@media screen and (max-width:880px){
  header > .searchh {
    display: none;
  }
}

@media screen and (max-height:880px){
 
  .container{
    height: 85vh;
  }
  .login{
    height: 55vh;
  }
}
@media screen and (max-width: 900px )and (min-width:600px) {
  .section_product {
    flex-direction: column;
  }
  .image_section {
    /* margin-left: 2rem; */
    width: 70%;
  }
  .product__details {
    gap: 3rem;
    width: 80%;
  }
  .detail__para {
    width: 100%;
  }
}
